.parallax {

  background-image: url("http://nonprofitorgs.files.wordpress.com/2010/07/blog.jpg");

  /* Set a specific height */
  height: 400px;

  /* Create the parallax scrolling effect */
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
